// ==============================
// Custom style
// ==============================

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

span.book-author{
  padding-top: 0px;
  padding-right: 0px;
  font-size: medium;
  font-weight: normal;
  font-family: 'Lobster', sans-serif;
}

.header-logo{
  font-family: 'Limelight', cursive;
}