/* Notation and chess diagrams */
.mainline {
	font-family: FigurineSymbol, Times New Roman, serif;
	font-weight: bold;
}

.fen-diag {
	align-items: center;
}

.fen-diag-cnv-wrapper {
	max-width: 90%;
	height: 450px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style: italic;
	text-align: center;
}

/* To handle embedded lichess iframes*/
iframe[src*="lichess"] {
	border: none;
	max-width: 90%;
	width: 800px;
	height: 495px;
}